version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "8000:5432"
    volumes:
      - pgdata:/home/kristian/pgdata

volumes:
  pgdata:
